/**
 * Transformers Movie Typography
 * Font: Transformers Movie (free for non-commercial use)
 * License: Freeware, Non-Commercial
 * Source: https://www.fontspace.com/transformers-movie-font-f34560
 */

/* Transformers Movie - Main display font used throughout the theme */
@font-face {
  font-family: 'Transformers Movie';
  src: url('/local/transformers/fonts/TransformersMovie-y9Ad.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
